<!-- Contenu page accueil -->
<p class="lorem">
    Bienvenue dans notre application de gestion commerciale! Cette plateforme vous permet de gerer efficacement vos produits, de passer des commandes et de consulter l'historique de vos transactions. Que vous soyez un professionnel ou un particulier, notre outil est concu pour simplifier vos operations commerciales et vous faire gagner du temps. Explorez les differentes fonctionnalites disponibles dans le menu de navigation et commencez des maintenant a optimiser votre gestion commerciale.
</p>
  
